<form class="table-form" [formGroup]="form">
        <div class="table-header">
          <div class="table-header-checkbox">
            <input type="checkbox" class="checkmark-header">
          </div>
          <div class="table-header-name">Имя</div>
          <div class="table-header-mail">E-mail</div>
          <div class="table-header-phone">Номер телефона</div>
        </div>

  <button (click)="addRow()">
    <img src="assets/add-button.svg">
  </button>
  <button (click)="setDefaultPeople()">add</button>
  <div formArrayName="personDataArr">
    <div *ngFor="let data of personDataArr.controls; let i = index">
      <div [formGroupName]="i" class="table-row" (mouseover)="toggleButtons(i);" (mouseout)="toggleButtons(i)">
        <input type="checkbox" class="checkmark-row" formControlName="checkbox">
        <div class="table-row-cell">
          <input
            type="text"
            class="table-row-input"
            [ngClass]="{ 'table-row-input--hasError': personDataArr.at(i).get('fullName')?.invalid && personDataArr.at(i).get('fullName')?.touched}"
            formControlName="fullName">

        </div>
        <div  class="table-row-cell">
          <input
            type="text"
            class="table-row-input"
            [ngClass]="{ 'table-row-input--hasError': personDataArr.at(i).get('email')?.invalid && personDataArr.at(i).get('email')?.touched}"
            formControlName="email">
        </div>
        <div class="table-row-cell">
          <input
            type="text"
            class="table-row-input"
            [ngClass]="{ 'table-row-input--hasError': personDataArr.at(i).get('phone')?.invalid && personDataArr.at(i).get('phone')?.touched}"
            formControlName="phone">
        </div>
        <div class="table-row-cell-edit" *ngIf="true">
            <button
              class="table-row-input-save"
              (click)="saveNewPerson(i)"
              *ngIf="!personDataArr.at(i).invalid && personDataArr.at(i).touched"
            >сохранить</button>
        </div>
      </div>
    </div>
  </div>
</form>
