<div class="table-wrapper">
  <table class="table">
    <thead>
      <tr class="table-header">
      <th class="table-header-checkbox">
        <input type="checkbox" class="checkmark-header">
      </th>
      <th class="table-header-name">Имя</th>
      <th class="table-header-mail">E-mail</th>
      <th class="table-header-phone">Номер телефона</th>
    </tr>
    </thead>
    <tbody>
<!--    table string row for data  -->
      <tr class="table-row" *ngFor="let person of personData">
        <td>
          <input type="checkbox" class="checkmark-row">
        </td>
        <td>
          <input type="text" class="table-row-input" value="{{person.name + ' ' + person.surname}}" disabled>
        </td>
        <td>
          <input type="text" class="table-row-input" value="{{person.email}}">
        </td>
        <td>
          <input type="text" class="table-row-input" value="{{person.phone}}">
        </td>
        <button class="table-row-edit">e</button>
        <button class="table-row-delete">d</button>
      </tr>


    </tbody>
  </table>
</div>

