.table-form {
  width: 100%;
  height: 100%;
}

table {
  width: 100%;
}

.table-header {
  width: 100%;
  display: flex;
  flex-direction: row;
  background: #F7F7F7;
  text-align: left;
  align-items: center;
}

.table-header-checkbox {
  width: 40px;
}

.checkmark{
  &-header{
    width: 16px;
    height: 16px;
    margin: 16px 12px;
  }
  &-row{
    width: 16px;
    height: 16px;
    margin: 16px 12px;
  }

}
.table-header {
  height: 40px;
  font-family: "Roboto Light", sans-serif;
  font-style: normal;
  font-size: 14px;
  font-weight: 500;

  &-name {
    min-width: 160px;
    max-width: 280px;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
  &-mail {
    min-width: 160px;
    max-width: 280px;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
    position: relative;
    &:after{
      content: '';
      height: 48px;
      width: 2px;
      position: absolute;
      top: 0;
      right: 0;
      cursor: col-resize;
    }
  }
  &-phone {
    width: 100%;
    font-family: inherit;
    font-style: inherit;
    font-size: inherit;
    font-weight: inherit;
  }
}

.table-row {
  height: 48px;
  border-bottom: 1px solid #F2F2F2;
  position: relative;
  display: flex;
  flex-direction: row;
  &-cell {
    display: flex;
    max-width: 280px;
    align-items: center;
    height: 48px;
    &-edit {
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: right;
      right: 0;
      height: 48px;
      width: 200px;
      background: rgba(46, 46, 46, 0.38);
      &:hover {
        height: 48px;
        opacity: 1;
      }
    }
  }
}

.table-row-delete{
  position: absolute;
  right: 10px;
}

.table-row-input {
  height: 38px;
  width: 148px;
  background: rgba(0, 128, 255, .1);
  border: none;
  border-radius: 8px;
  color: #2E2E2E;
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto Light", sans-serif;
  margin-right: 12px;
  &:focus {
    outline: none;
  }
  &--hasError {
    background: #FFE5E5;
  }
  &email--hasError {
    background: #FFE5E5;
  }
  &phone--hasError {
    background: #FFE5E5;
  }

  .table-row-input {
    &-edit {
      position: absolute;
      right: 40px;
    }
    &-save {
      &--invalid {
        display: none;
      }
    }

  }

  &:disabled {
    background: none;
  }

}
