<div class="table-wrapper">
  <table class="table">
    <thead>
      <tr class="table-header">
      <th class="table-header-checkbox">
        <input type="checkbox" class="checkmark-header">
      </th>
      <th class="table-header-name">Имя</th>
      <th class="table-header-mail">E-mail</th>
      <th class="table-header-phone">Номер телефона</th>
    </tr>
    </thead>
    <tbody>
      <tr class="table-row">
        <td>
          <input type="checkbox" class="checkmark-row">
        </td>
        <td>
          <input type="text" class="table-row-input" disabled>
        </td>
        <td>
          <input type="text" class="table-row-input">
        </td>
        <td>
          <input type="text" class="table-row-input">
        </td>
      </tr>
      <tr class="table-row">
        <td>
          <input type="checkbox" class="checkmark-row">
        </td>
        <td>
          <input type="text" class="table-row-input">
        </td>
        <td>
          <input type="text" class="table-row-input">
        </td>
        <td>
          <input type="text" class="table-row-input">
        </td>
      </tr>
      <tr class="table-row">
        <td>
          <input type="checkbox" class="checkmark-row">
        </td>
        <td>
          <input type="text" class="table-row-input">
        </td>
        <td>
          <input type="text" class="table-row-input">
        </td>
        <td>
          <input type="text" class="table-row-input">
        </td>
      </tr>
      <tr class="table-row">
        <td>
          <input type="checkbox" class="checkmark-row">
        </td>
        <td>
          <input type="text" class="table-row-input">
        </td>
        <td>
          <input type="text" class="table-row-input">
        </td>
        <td>
          <input type="text" class="table-row-input">
        </td>
      </tr>
    </tbody>
  </table>
</div>

